VITE_SUPABASE_URL=https://nwgnhuesqdnedupykthj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im53Z25odWVzcWRuZWR1cHlrdGhqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYyMzEzNDQsImV4cCI6MjA4MTgwNzM0NH0.wmGasvEqg-OBCQk6l90Y3S9nUjnw7oUTP9uYrtFNjU0
